.mju-group{
    background: white;
  }
  
  .mjuLogof{
    float: left;
    display: flex;
    flex-flow: row nowrap;
    margin-left: 2em;
    margin-top: 1.5em;
    margin-right: 1em;
    
  }
  
  .mainTitle{
    color: rgb(0, 0, 0);
    float: left;
    margin-top: 2%
  }
  
  .account_result{
    border-color:rgb(79, 138, 216); 
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 15px;
    margin-left: 2em;
    margin-top: 2em;
  }
  
  .card_result{
    border-color:rgb(79, 138, 216); 
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 15px;
    margin-left: 2em;
    margin-top: 2em;
  }

  .home{
    margin-top: 1.5%;
    padding: 0.75em 1em 0.75em 1em;
    text-decoration: none;
    color: black;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }
  
  .createId{
    margin-top: 2.5%;
    padding: 0.75em 1em 0.75em 1em;
    text-decoration: none;
    color: black;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    float: right;
  }
  
  .login{
    margin-top: 2.5%;
    padding: 0.75em 0em 0.75em 0em;
    text-decoration: none;
    color: black;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    float: right;
  }
  
  
.wallet{
  border-radius: 15px;
  padding-top: 0.3em;
  padding-left: 0,1em;
  cursor: pointer;
  padding-right: 0,1em;
  padding-bottom: 0.3em;
  margin-right: 3%;
  margin-top: 2.5%;
  color: rgb(243, 219, 4);
  border-color: rgb(243, 219, 4);
  float: right;
}

.notification{
    margin-top: 2.7%;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    float: right;
}